ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
body {
  background-color: lightblue;
}
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1{
  text-align: center;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 20px;
}
span{
  text-align: center;
  
  display:block;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}